/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
button {
  cursor: pointer;
}
.navbar-logo {
  font-family: 'Montserrat', sans-serif; /* professional font */
  font-weight: 700; /* bold */
  font-size: 1.8rem;
  color: #fff; /* white color */
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-logo:hover {
  color: #fff; /* keep hover white */
}
